@page "/seller/bids"
@using BlazorApp1.Data
@using BlazorApp1.Data.Interfaces
@using BlazorApp1.Authentication

@inject ISellerService SellerService
@inject AuthenticationStateProvider AuthStateProvider

<BackofficeLayout Logo="true" BackArrow="true" PreviousText="" PreviousUrl="/seller/main" AuthorizedRoles="Seller">
    <Content>
        <h3>Ofertas Pendentes</h3>
        <ComponentList>
            @foreach(Bid b in PendingBids)
            {
                <ComponentListItem>
                    <SellerBid Id="@b.BidId" Photo="/img/batata.jpg" Name="@b.BidProductNavigation.ProductName"
                    Amount="@b.BidAmount" Price="@b.Price"/>
                </ComponentListItem>
            }
        </ComponentList>

    </Content>
</BackofficeLayout>

@code {
    public List<Bid> PendingBids { get; set; } = new List<Bid>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var buyer = await ((CustomAuthenticationStateProvider)AuthStateProvider).GetUsername();
            if (buyer == null) PendingBids = new List<Bid>();
            var bids = await SellerService.GetSellerActiveBids(buyer);
            if (bids == null) PendingBids = new List<Bid>();
            else PendingBids = bids;
            StateHasChanged();
        }
    }

}