@page "/seller/bids"
@using BlazorApp1.Data
@inject IJSRuntime js

<BackofficeLayout Logo="true" BackArrow="true" PreviousText="" PreviousUrl="/" AuthorizedRoles="Seller">
    <Content>
        <h3>Ofertas Pendentes</h3>
        <ComponentList>
            @foreach(Bid b in PendingBids)
            {
                <ComponentListItem>
                    <SellerBid Photo="@b.BidProductNavigation.ProductPhotos.First().ProductPhotoPath" Name="@b.BidProductNavigation.ProductName"
                    Amount="@b.BidAmount" Price="@b.Price"/>
                </ComponentListItem>
            }
        </ComponentList>

    </Content>
</BackofficeLayout>

@code {
    public List<Bid> PendingBids { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        PendingBids = new List<Bid>();

        Bid b = new Bid
            {
                Price = 50,
                BidAmount = 3,
                BidProductNavigation = new Product
                {
                    ProductName = "Batata",
                    ProductPhotos = {new ProductPhoto()
                    {
                        ProductPhotoPath = "/img/batata.jpg"
                    } }
                }
            };

        for (int i = 0; i < 10; i++)
            PendingBids.Add(b);
    }
}