@page "/seller/bids"
@using BlazorApp1.Data
@using BlazorApp1.Data.Interfaces


@inject ISellerService SellerService

<BackofficeLayout Logo="true" BackArrow="true" PreviousText="" PreviousUrl="/" AuthorizedRoles="Seller">
    <Content>
        <h3>Ofertas Pendentes</h3>
        <ComponentList>
            @foreach(Bid b in PendingBids)
            {
                <ComponentListItem>
                    <SellerBid Id="@b.BidId" Photo="/img/batata.jpg" Name="@b.BidProductNavigation.ProductName"
                    Amount="@b.BidAmount" Price="@b.Price"/>
                </ComponentListItem>
            }
        </ComponentList>

    </Content>
</BackofficeLayout>

@code {
    public List<Bid> PendingBids { get; set; }

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        PendingBids = await SellerService.GetSellerActiveBids("bace@mail.com");
    }
}