@page "/login"
@inject IUserService UserService
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime Js
@inject NavigationManager NavManager
@using BlazorApp1.Data
@using BlazorApp1.Authentication
@using BlazorApp1.Data.Interfaces
<PageTitle>Login | BlazorApp1</PageTitle>
<LoginLayout>
    <Form>
        @if(model.LoginFailed)
        {
            <span class="login-failed">Utilizador ou palavra passe incorretos</span>
        }
        <h2>Email:</h2>
        <input @bind="model.Email" type="email" placeholder="Endereço de email" />
        <h2>Password:</h2>
        <input @bind="model.Password" type="password" placeholder="Palavra passe"/>

        <div class="button-wrapper">
            <button @onclick="Authenticate" class="login">Log In</button>
        </div>     
        <div class="bottom-text">
            <p>Ainda não tem conta? <a class="link" href="/register">Registe-se!</a></p>
        </div>
    </Form>
</LoginLayout>

@code
{
    public class Model
    {
        public string Email { get; set; }
        public string Password { get; set; }
        public bool LoginFailed { get; set; }

        public Model()
        {
            Email = "";
            Password = "";
            LoginFailed = false;
        }
    }

    private Model model = new Model();


    private async Task Authenticate()
    {
        model.LoginFailed = false;
        User? user;
        try
        {
            user = await UserService.GetUser(this.model.Email);
        }
        catch (Exception e)
        {
            user = null;
        }
        if (user==null || !user.DoPasswordsMatch(this.model.Password))
        {
            model.LoginFailed = true;
            return;
        }
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession
        {
            Email = user.UserEmail,
            Role = user.Role
        });
        
        NavManager.NavigateTo("/main",true);
    }
}
