@page
@model BlazorApp1.Pages.LoginModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login | OpenFeira</title>
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="background-wrapper">
        <div class="frame">
            <div class="logo"></div>
            <!--img src="~/img/logo.jpg" alt="Logo" width="350"/-->
            
            <div class="fields">
                <h2>Email:</h2>
                <input type="email" placeholder="Endereço de email" />
                <h2>Password:</h2>
                <input type="password" placeholder="Palavra passe"/>

                <div class="button-wrapper">
                    <button class="login">Log In</button>
                </div>     
                <div class="bottom-text">
                    <p>Ainda não tem conta? <a class="link" href="/register">Registe-se!</a></p>
                </div>
            </div>
            
        </div>
    </div>

</body>

</html>