@page "/login"
<PageTitle>Login | BlazorApp1</PageTitle>
<LoginLayout>
    <Form>
        <h2>Email:</h2>
        <input type="email" placeholder="Endereço de email" />
        <h2>Password:</h2>
        <input type="password" placeholder="Palavra passe"/>

        <div class="button-wrapper">
            <button class="login">Log In</button>
        </div>     
        <div class="bottom-text">
            <p>Ainda não tem conta? <a class="link" href="/register">Registe-se!</a></p>
        </div>
    </Form>
</LoginLayout>