@page "/login"
@inject IUserService UserService
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime Js
@inject NavigationManager NavManager
@using BlazorApp1.Data
@using BlazorApp1.Authentication
<PageTitle>Login | BlazorApp1</PageTitle>
<LoginLayout>
    <Form>
        <h2>Email:</h2>
        <input @bind="model.email" type="email" placeholder="Endereço de email" />
        <h2>Password:</h2>
        <input @bind="model.password" type="password" placeholder="Palavra passe"/>

        <div class="button-wrapper">
            <button @onclick="Authenticate" class="login">Log In</button>
        </div>     
        <div class="bottom-text">
            <p>Ainda não tem conta? <a class="link" href="/register">Registe-se!</a></p>
        </div>
    </Form>
</LoginLayout>

@code
{
    public class Model
    {
        public string email { get; set; }
        public string password { get; set; }
    }

    private Model model = new Model();
    

    private async Task Authenticate()
    {
        User? user;
        try
        {
            user = await UserService.GetUser(this.model.email);
        }
        catch (Exception e)
        {
            user = null;
        }
        if (user==null || !user.DoPasswordsMatch(this.model.password))
        {
            await Js.InvokeVoidAsync("alert", "Email ou Password invalidos");
            return;
        }
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession
        {
            Email = user.UserEmail,
            Role = user.Role
        });
        NavManager.NavigateTo("/main",true);
    }
}
