body {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.3rem;
}

.background-wrapper {
    background-color: #dde6ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    background-color: #ffffff;
    border-radius: 15px;
    width: 90%;
    max-width: 700px;
    max-height: 600px;
    height: 90%;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.fields {
    margin: auto;
    text-align: left;
    padding-top: 40px;
    display: block;
    width: 90%;
}

.logo {
    background-image: url("/img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 95%;
    height: 33%;
    margin: auto;
}