<div class="background">
    <div class="center">
         <div class="logo-wrapper">
            <div class="logo"></div>
            <h1 class="title">404</h1>
        </div>
        <div class="text-wrapper">
            <p class="text">A <span class="blue">página</span> não existe!</p>
        </div>
        
    </div>
    
</div>