<div class="block">
    <div class="wrapper">
        <img class="image" src="@Photo">
        <p>@Name @Amount x <span class="blue">@Price €</span></p>
        <button class="accept">&#x2713;</button>
    </div>
</div>

@code {
    [ParameterAttribute]
    public string Photo { get; set; }
    [ParameterAttribute]
    public string Name { get; set; }
    [ParameterAttribute]
    public int Amount { get; set; }
    [ParameterAttribute]
    public decimal Price { get; set; }
}
