.block {
    display: block;
}

.wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
}

.image {
    object-fit: cover;
    width: 22vw;
    min-width: 300px;
    height: 200px;
    border-radius: 20px;
}

.blue {
    color: #0094FF;
}

.accept {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #cbffca;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 7px;
    line-height: 20px;
    color: black;
}
